/* Add a black background color to the top navigation */
/* .top-nav {
    background-color: rgb(24, 29, 65);
    overflow: hidden;
  } */
  
  /* Style the links inside the navigation bar */
  /* .top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } */
  
  /* Change the color of links on hover */
  /* .top-nav a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  /* Add a color to the active/current link */
  /* .top-nav a.active {
    background-color: #04AA6D;
    color: white;
  } */

  /* Style the navigation bar */
/* Header/Blog Title */
* {
  box-sizing: border-box;
}

body {
  /* background-image: url("https://images.pexels.com/photos/13795425/pexels-photo-13795425.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: 1000px 800px; */
  background-attachment: scroll;
  font-family: Arial;
  padding: 10px;
  background:rgb(247, 246, 246);
}
.header {
  /* background-image: url("https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=600"); */
  /* background-position: center; */
  /* background-image: url("https://images.pexels.com/photos/1981468/pexels-photo-1981468.jpeg?auto=compress&cs=tinysrgb&w=600"); */
  background-image: url("https://images.pexels.com/photos/460537/pexels-photo-460537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  color:bisque;
  /* background: rgb(67, 55, 55); */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 400px;
  display: inline block;
}

.header h1 {
  font-size: 60px;
  text-align: left;
  content: '\ed8b';

}
/* .header h4 {
  font-size:20px;
  text-align: left;
  content: '\ed8b';

} */

#title title {
  font-size: 30px;
}

.nav-bar {
    width: 100%;
    border-radius: 10px;
    float: right;
    background-color:rgb(6, 6, 12);
    overflow: auto;
  }
  
  /* Navbar links */
  .nav-bar a {
    float: left;
    text-align: center;
    padding: 12px;
    color:blanchedalmond;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .nav-bar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(93, 49, 25);
  }
  
  /* Current/active navbar link */
  .active {
    background-color: darkslategray;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  /* @media screen and (max-width: 500px) {
    .nav-bar a {
      float: none;
      display: block;
    }
  } */
  /* Style the search box inside the navigation bar */
/* .nav-bar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  } */
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .nav-bar form, .nav-bar input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .nav-bar input[type=text] {
      border: 1px solid #ccc;
    }
  }
  /* The dropdown container */
.dropdown {
    float: none;
    overflow: hidden;
  }
  /* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a background color to navbar links on hover */
  .nav-bar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(92, 36, 36);
  }

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(171, 72, 72);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Footer */
/* .footer {
  background-image: url("https://images.pexels.com/photos/6044820/pexels-photo-6044820.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;
  border-radius: 15px;
  padding: 20px;
  color: #bf6617;
  text-align: left; */
  /* background: #ddd; */
  /* margin-top: 20px;
  width: 100%;
  height: 300px;
  display: inline block;
  
} */

/* Create two unequal columns that floats next to each other */
/* Left column */
.left-column { 
  float: left;
  /* width: 75%; */
  width: 50%;
  height: 1110px;
  margin-bottom: 20px;
  display: inline block;
  /* background-image: url(pilau.jpg); */
}

/* Right column */
.right-column {
  /* background-image: url(shawrma.jpg); */
  background-image: url("");
  float: left;
  /* width: 25%;
  height: 100%; */
  /* background-color: #f1f1f1; */
  padding-left: 20px;
  width: 50%;
  height: 1110px;
  display: inline block;
}

/* Fake image */
 .left-column-img{
  /* background-image: url("https://images.pexels.com/photos/914388/pexels-photo-914388.jpeg?auto=compress&cs=tinysrgb&w=600") ;
  background-position: center , left bottom;  */
  /* background-color: #aaa; */
  border-radius: 10px;
  /* width: 100%;
  height:auto; */
  padding: 20px;
  width: 100%;
  /* height: 300px; */
  display: inline block;
}

.card-img{
  background-image: url("https://images.pexels.com/photos/10194405/pexels-photo-10194405.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
  background-position: center;
  /* background-color: #aaa; */
  border-radius: 10px;
  width: 100%;
  /* height:auto; */
  padding: 10px;
  /* width: 100%;
  height: 500px; */
  display: inline block;
}
.right-column-img{
  background-image: url("https://images.pexels.com/photos/10487732/pexels-photo-10487732.jpeg?auto=compress&cs=tinysrgb&w=600") ;
  background-position: center , left bottom; 
  /* background-color: #aaa; */
  border-radius: 10px;
  /* width: 100%; */
  /* height:auto; */
  padding: 20px;
  width: 100%;
  /* height: 500px; */
  display: inline block;
}


/* Add a card effect for articles */
.card-0 {
  /* background-color: white; */
  background-image: url("https://images.pexels.com/photos/6044820/pexels-photo-6044820.jpeg?auto=compress&cs=tinysrgb&w=600");  
  color: chocolate;
  border-radius: 15px;
  text-align: left;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  height: 500px;
  display: inline block;
}
.card-1 {
  background-image: url("https://images.pexels.com/photos/6184533/pexels-photo-6184533.jpeg?auto=compress&cs=tinysrgb&w=600");
  /* background-color: white; */
  border-radius: 15px;
  color:#ccc;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  height: 600px;
  display: inline block;
}
.card-2 {
  background-image: url("https://images.pexels.com/photos/3274910/pexels-photo-3274910.jpeg?auto=compress&cs=tinysrgb&w=600");
  /* background-color: white; */
  border-radius: 15px;
  color:darkred;
  padding: 20px;
  margin-top: 20px;
  height: fit-content;
  width: 100%;
  height: 1110px;
  display: inline block;
}
/* .card-3 {
  background-image: url("https://images.pexels.com/photos/5702789/pexels-photo-5702789.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.card-4 {
  background-image: url("https://images.pexels.com/photos/3040080/pexels-photo-3040080.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-color: white;
  padding: 20px;
  margin-top: 20px;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* img {
  border-radius: 8px;
  padding: 5px;
  width: 150px;
  max-width: 100%;
  height: auto;
} */
/* Footer */
/* .footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
} */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
.left-column-img {
  background-image: url("https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=600");
}
/* Style the search field */
form.searchMeals input[type=text] {
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid grey;
  float: right;
  width: 20%;
  border-radius: 5px;
  background: #f1f1f1;
}

/* Style the submit button */
form.searchMeals button {
  float: right;
  border-radius: 5px;
  width: 10%;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
  background: #041f34;
  color:blanchedalmond;
  font-size: 15px;
  border: 1px solid grey;
  border-right: 5px; /* Prevent double borders */
  cursor: pointer;
}

form.searchMeals button:hover {
  background: #6e1717;
}

/* Clear floats */
form.searchMeals::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  /* background-image: url("https://images.pexels.com/photos/6044820/pexels-photo-6044820.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center; */
  /* display: flex;
  border-radius: 15px;
  padding: 100px 15%;
  color: #efefef; */
  /*text-align: left;*/
  /* background: #ddd; */
  margin-top: 20px;
  border-radius: 15px;
  width: 100%;
  height: 300px;
  color: #efefef; 
  padding: 30px 5%;
  display: flex;
  background: rgb(6, 6, 12);
  
}
.footer div{
  text-align: center;

}
.col-2 {
  flex-grow: 2;
}
.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: blanchedalmond;
}
.col-1 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}
form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
}
form button{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}
.social-icons{
  margin-top: 30px;
}
social-icons{
  font-size: 22px;
  margin: 40px;
  cursor: pointer;
}
.social-icons a{
  color:  #0b65ab;
}
